html {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #91c07b;
}
  
body {
    width: 900px;
    margin: 0 auto;
    background-color: #4e95c7;
    padding: 20px 40px 80px 40px;
    border: 5px solid rgb(108, 205, 171);
}

  
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px #17202a;
}
  
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}